<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Win Challenge</title>
    <link rel="stylesheet" href="/challenge/style.css">
  </head>
  <body onload="init()">
    <div class="left-menu-bar">
      <a class="btn home" href="/main/index.html">
        <span class="arrow"></span>Home
      </a>
      <div class="features">
        <!-- <div id="timer" class="feature-card"></div> -->
        <!-- <div class="feature-card">Reset a game on a lose</div>
        <div class="feature-card">Just Win</div> -->
      </div>
      <a id="stats" class="btn stats">Stats</a>
    </div>

    <h1 id="title">Win Challenge</h1>
    <div class="neon-divider"></div>
    <h2 id="timer" class="subheader"></h2>
    <div class="neon-divider"></div>
    <div class="container">
        <table id="game-table">
          <thead>
            <tr>
              <th>Game</th>
              <th>Wins</th>
              <th>Reset</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="game-list"></tbody>
        </table>

        <form onsubmit="callbackAddGame(); return false;">
          <div class="button-wrap">
            <input type="text" class="input-text" id="new-game" placeholder="Enter a new game...">
            <input type="text" class="input-text" id="new-gif" placeholder="Enter a gif link...">
            <input type="number" class="input-number" id="needed-wins" placeholder="Enter the needed wins..." value="1">
            <button type="submit" class="btn add"></button>
          </div>
        </form>
        <div id="gif-overlay" class="gif-overlay">
          <img id="popup-gif" class="popup-gif" src="" alt="Win GIF">
        </div>
    </div>
    <div class="neon-divider"></div>
    <h2 class="subheader">Somebody has to do it</h2>
    <div class="neon-divider"></div>
    <button id="muteBtn" class="btn mute" onclick="toggleMute()">GIF popups</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/challenge/index.js"></script>
  </body>
</html> 
