<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Win Challenge</title>
    <link rel="stylesheet" href="/challenge/style.css">
  </head>
  <body onload="fetchGames()">
    <h1>Games</h1>
    <div class="container">
        <ul id="game-list"></ul>
      
        <div class="button-wrap">
            <input type="text" id="new-game" placeholder="Enter a new game...">
            <button class="btn" onclick="callbackAddGame()">Add</button>
        </div>
        

    </div>
    <script src="/challenge/index.js"></script>
  </body>
</html> 
