<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="/main/style.css">
  </head>
  <body onload="fetchLists(), setDateDefault()">
    <h1><span class="broken">H</span>ome</h1>
    <div class="container">
      <div id="lists-container"></div>
      <form onsubmit="addList(); return false;">
        <div class="button-wrap">
          <input type="text" class="input-text" id="new-list" placeholder="Enter a list name...">
          <input type="datetime-local" class="input-text" id="new-start-date">
          <input type="datetime-local" class="input-text" id="new-end-date">
          <button type="submit" class="btn add"></button>
        </div>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main/index.js"></script>
  </body>
</html> 
